@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script:regular&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-quote:before {
  content: ""
}
._icon-s-facebook:before {
  content: ""
}
._icon-s-instagram:before {
  content: ""
}
._icon-slider-arrow:before {
  content: ""
}
._icon-s-twitter:before {
  content: ""
}
._icon-s-youtube:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: "Playfair Display";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Playfair Display";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #fffefc
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  transition: opacity .3s;
  opacity: 1
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.75rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: .25rem 0 0 .25rem!important;
  width: 100%;
  color: #000;
  display: block;
  padding: 0 1.25rem;
  border: .0625rem solid #eee;
  caret-color: inherit;
  background-color: #fff9f1
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  color: #707070
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  color: #707070
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  color: #707070
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s;
  color: #707070
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.menu__list {
  display: flex;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem
}
.menu__link {
  font-size: .875rem;
  font-weight: 500;
  transition: all .3s
}
.icon-menu {
  display: none
}
.spollers {
  display: flex;
  gap: .625rem
}
.spollers__link {
  font-size: 1.125rem;
  line-height: 2.33
}
.spollers__link:not(:last-child) {
  margin-bottom: 1.375rem
}
.spollers__item {
  flex-basis: 20rem;
  flex-grow: 1;
  flex-shrink: 1
}
.spollers__title {
  font-size: 1.625rem;
  font-weight: 700;
  width: 100%;
  cursor: default;
  text-align: left;
  padding: .625rem .9375rem;
  border-radius: .3125rem;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: .625rem;
  top: 50%;
  background-color: #fff;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  padding: 1.25rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  padding: .875rem 1.625rem;
  background-color: #f9c06a;
  border-radius: 1.5rem;
  box-shadow: 0 .3125rem .75rem 0 rgba(249,192,106,.22);
  color: #1e1e1e
}
.button span {
  position: relative;
  z-index: 3
}
.button::before {
  content: "";
  transition: all .5s;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #603809
}
.button--header {
  padding: .875rem 1.375rem
}
.title {
  font-weight: 700;
  color: #603809
}
.title--big {
  font-family: "Clicker Script";
  color: #fff
}
.title--w {
  color: #fff
}
.text {
  font-size: 1.25rem;
  line-height: 1.7
}
.text--grey {
  color: #707070;
  line-height: 1.7
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  color: #fff;
  min-height: 5.3125rem;
  padding-block: 1.25rem;
  transition: all .3s
}
.header._header-scroll {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(112,112,112,.8);
  padding-block: .9375rem;
  min-height: 4.375rem
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem
}
.header__logo {
  position: relative;
  z-index: 3;
  font-family: "Clicker Script";
  font-size: 2.1875rem;
  flex-shrink: 0
}
.header__actions {
  position: relative;
  z-index: 3
}
.actions-header {
  display: flex;
  row-gap: .5rem;
  flex-shrink: 0;
  font-weight: 500;
  font-size: .875rem
}
.actions-header__sign-in {
  transition: all .3s
}
.footer {
  position: relative;
  padding-top: 10.125rem;
  padding-bottom: 4.375rem;
  background-blend-mode: overlay;
  background: url(../img/fotter_image.webp) bottom/cover no-repeat #442808
}
.footer__container {
  display: flex;
  justify-content: space-between;
  row-gap: .625rem
}
.footer__body {
  flex-basis: 32%;
  flex-shrink: 0
}
.body-footer__logo {
  font-size: 3.375rem;
  font-family: "Clicker Script";
  margin-bottom: 1.25rem
}
.body-footer__text {
  font-size: .875rem;
  line-height: 1.57;
  margin-bottom: 1.25rem
}
.body-footer__social {
  display: flex;
  gap: 1.25rem
}
.social-footer__link {
  aspect-ratio: 1/1;
  transition: all .3s
}
.social-footer__link::before {
  font-size: 1.25rem
}
.coffe {
  position: relative;
  min-height: 100vh;
  background: url(../img/main.webp) center/cover no-repeat;
  display: flex;
  align-items: center
}
.coffe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg,#1e1e1e -6.88%,rgba(0,0,0,0) 87.45%)
}
.coffe__container {
  flex-grow: 1
}
.coffe__body {
  max-width: 32.9375rem
}
.coffe__block {
  position: relative;
  z-index: 2
}
.block-coffe__subtitle {
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 2.9375rem;
  opacity: 0;
  -webkit-transform: translate(-25%,0);
  transform: translate(-25%,0)
}
._watcher-view .block-coffe__subtitle {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 1s .5s,-webkit-transform 1s .5s;
  transition: transform 1s .5s,opacity 1s .5s;
  transition: transform 1s .5s,opacity 1s .5s,-webkit-transform 1s .5s
}
.block-coffe__title {
  margin-bottom: 1.875rem;
  opacity: 0;
  -webkit-transform: translate(-25%,0);
  transform: translate(-25%,0)
}
._watcher-view .block-coffe__title {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 1.5s 1s,-webkit-transform 1.5s 1s;
  transition: transform 1.5s 1s,opacity 1.5s 1s;
  transition: transform 1.5s 1s,opacity 1.5s 1s,-webkit-transform 1.5s 1s
}
.block-coffe__text {
  font-size: 1.25rem;
  line-height: 1.7;
  margin-bottom: 1.5625rem;
  opacity: 0;
  -webkit-transform: translate(-25%,0);
  transform: translate(-25%,0)
}
._watcher-view .block-coffe__text {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 2s 1.5s,-webkit-transform 2s 1.5s;
  transition: transform 2s 1.5s,opacity 2s 1.5s;
  transition: transform 2s 1.5s,opacity 2s 1.5s,-webkit-transform 2s 1.5s
}
.block-coffe__button {
  opacity: 0;
  -webkit-transform: translate(-30%,0);
  transform: translate(-30%,0)
}
._watcher-view .block-coffe__button {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 3s 2s,-webkit-transform 3s 2s;
  transition: transform 3s 2s,opacity 3s 2s;
  transition: transform 3s 2s,opacity 3s 2s,-webkit-transform 3s 2s
}
.discover {
  position: relative
}
.discover__container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: .9375rem
}
.discover__body {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0
}
.discover__image {
  width: 50%;
  flex-basis: 50%;
  opacity: 0;
  -webkit-transform: translate(25%,0);
  transform: translate(25%,0)
}
.discover__image._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 2s .5s,-webkit-transform 2s .5s;
  transition: transform 2s .5s,opacity 2s .5s;
  transition: transform 2s .5s,opacity 2s .5s,-webkit-transform 2s .5s
}
.discover__coffee {
  aspect-ratio: 480/335
}
.discover .block-discover__title {
  margin-bottom: 1.875rem;
  opacity: 0;
  -webkit-transform: translate(-25%,0);
  transform: translate(-25%,0)
}
.discover .block-discover__title._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 3s .5s,-webkit-transform 2s .5s;
  transition: transform 2s .5s,opacity 3s .5s;
  transition: transform 2s .5s,opacity 3s .5s,-webkit-transform 2s .5s
}
.discover .block-discover__text {
  margin-bottom: 1.875rem;
  opacity: 0;
  -webkit-transform: translate(-25%,0);
  transform: translate(-25%,0)
}
.discover .block-discover__text._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 2s 1s,-webkit-transform 3s 1s;
  transition: transform 3s 1s,opacity 2s 1s;
  transition: transform 3s 1s,opacity 2s 1s,-webkit-transform 3s 1s
}
.discover .block-discover__button {
  opacity: 0;
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0)
}
.discover .block-discover__button._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 3s 1s,-webkit-transform 3s 1.5s;
  transition: transform 3s 1.5s,opacity 3s 1s;
  transition: transform 3s 1.5s,opacity 3s 1s,-webkit-transform 3s 1.5s
}
.discover__deco {
  display: none
}
.enjoy__container {
  position: relative;
  z-index: 5
}
.enjoy__block {
  text-align: center
}
.enjoy__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 2.1875rem;
  opacity: 0;
  -webkit-transform: translate(-20%,0);
  transform: translate(-20%,0)
}
.enjoy__items._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 1.2s .2s,-webkit-transform 1.2s .2s;
  transition: transform 1.2s .2s,opacity 1.2s .2s;
  transition: transform 1.2s .2s,opacity 1.2s .2s,-webkit-transform 1.2s .2s
}
.block-enjoy {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.block-enjoy._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 1s .2s,-webkit-transform 1s .2s;
  transition: transform 1s .2s,opacity 1s .2s;
  transition: transform 1s .2s,opacity 1s .2s,-webkit-transform 1s .2s
}
.block-enjoy__title {
  margin-bottom: 1rem
}
.block-enjoy__text {
  margin-bottom: 2rem
}
.item-enjoy {
  position: relative;
  text-align: center;
  background-color: #fff9f1;
  border: 1px solid rgba(249,192,106,.42);
  padding-bottom: 2.625rem;
  transition: all .3s
}
.item-enjoy__link {
  display: block;
  overflow: hidden
}
.item-enjoy__image {
  margin-bottom: 1rem;
  aspect-ratio: 280/222;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.item-enjoy__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: .375rem
}
.item-enjoy__title {
  font-weight: 700;
  font-size: 1.375rem;
  color: #603809
}
.item-enjoy__text {
  color: #1e1e1e;
  padding-inline: .9375rem
}
.item-enjoy__price {
  font-size: 1.125rem;
  font-weight: 700;
  color: #603809
}
.item-enjoy__button {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%,1.375rem);
  transform: translate(-50%,1.375rem);
  flex-shrink: 0
}
.different {
  position: relative
}
.different__container {
  position: relative;
  z-index: 3;
  text-align: center
}
.different__block {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.different__block._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 1s .2s,-webkit-transform 1s .2s;
  transition: transform 1s .2s,opacity 1s .2s;
  transition: transform 1s .2s,opacity 1s .2s,-webkit-transform 1s .2s
}
.different__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 1.5625rem;
  margin-bottom: 2rem
}
.different__item {
  flex-basis: 25%;
  padding: 2.1875rem .9375rem;
  text-align: center;
  border: .0625rem solid rgba(249,192,106,.42);
  background-color: #fff9f1;
  transition: all .3s;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
._watcher-view .different__item {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 1s .2s,-webkit-transform 1s .2s;
  transition: transform 1s .2s,opacity 1s .2s;
  transition: transform 1s .2s,opacity 1s .2s,-webkit-transform 1s .2s
}
.different__bottom-text {
  line-height: 1.3;
  color: #707070;
  font-size: 1.25rem;
  text-align: center;
  max-width: 36.875rem;
  margin: 0 auto;
  padding-bottom: 1.5rem
}
.different__bottom-text span {
  display: block;
  font-size: 1.875rem;
  font-weight: 700;
  color: #603809
}
.different__deco {
  display: none
}
.block-different__title {
  margin-bottom: 1rem
}
.block-different__text {
  margin-bottom: 2rem
}
.item-different__image {
  aspect-ratio: 1/1;
  width: 5.5rem;
  height: 5.5rem;
  margin-bottom: 1.5625rem
}
.item-different__title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #603809;
  margin-bottom: .5rem
}
.item-different__text {
  max-width: 12.1875rem;
  margin: 0 auto;
  font-size: 1.25rem;
  color: #707070
}
.chance {
  padding-block: 3.4375rem;
  position: relative;
  background: url(../img/chance/bg.webp) center/cover no-repeat
}
.chance::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #603809;
  opacity: .8
}
.chance::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: url(../img/chance/chance-deco.svg) bottom right no-repeat
}
.chance__container {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .9375rem
}
.chance__body {
  flex-basis: 48.728814%
}
.chance__image {
  flex-basis: 18.75rem;
  max-width: 18.75rem;
  opacity: 0;
  -webkit-transform: translate(20%,0);
  transform: translate(20%,0)
}
.chance__image img {
  width: 100%;
  aspect-ratio: 300/467;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-animation: coffee 2s infinite linear alternate;
  animation: coffee 2s infinite linear alternate
}
.chance__image._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: opacity 1s .5s,-webkit-transform 1s .5s;
  transition: transform 1s .5s,opacity 1s .5s;
  transition: transform 1s .5s,opacity 1s .5s,-webkit-transform 1s .5s
}
@-webkit-keyframes coffee {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg)
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg)
  }
}
@keyframes coffee {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg)
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg)
  }
}
.body-chance__title {
  font-weight: 700;
  margin-bottom: 1.375rem
}
.body-chance__text {
  font-size: 1.25rem;
  line-height: 1.7;
  margin-bottom: 1.375rem
}
.perfection {
  position: relative
}
.perfection::after,
.perfection::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 31.125rem;
  height: 29.922992%;
  transition: all .3s
}
.perfection::before {
  content: "";
  top: 65%;
  left: 0;
  background: url(../img/perfection/perfection-deco-left.svg) 0 0 no-repeat
}
.perfection::after {
  content: "";
  top: 9%;
  right: 0;
  background: url(../img/perfection/perfection-deco-right.svg) right/contain no-repeat
}
.perfection__reviews {
  margin: 0 auto;
  max-width: 61.25rem;
  position: relative
}
.perfection__block {
  text-align: center
}
.perfection__slider {
  position: relative;
  border: 1px solid rgba(249,192,106,.42)
}
.perfection__slide {
  background-color: #fff9f1;
  text-align: center;
  padding: 2.5rem
}
.swiper-slide {
  display: flex;
  flex-direction: column
}
.swiper-slide__quote {
  text-align: left;
  margin-bottom: 1.1875rem
}
.swiper-slide__text {
  font-weight: 600;
  line-height: 2;
  color: #707070;
  margin-bottom: 1.75rem;
  flex-grow: 1
}
.swiper-slide__title {
  font-size: 2rem;
  font-weight: 700;
  color: #603809
}
.swiper-slide__subtitle {
  font-size: 1.25rem;
  line-height: 1.7;
  color: #707070;
  margin-bottom: 2.8125rem
}
.swiper-slide__image img {
  aspect-ratio: 112/112;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 6px 12px 0 rgba(249,192,106,.22)
}
.block-perfection__title {
  margin-bottom: 1rem
}
.block-perfection__text {
  margin-bottom: 2.8125rem
}
.swiper-button-next,
.swiper-button-prev {
  transition: all .3s;
  position: absolute;
  z-index: 3;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  padding: 2.0625rem;
  background-color: #f9c06a;
  border-radius: 1rem
}
.swiper-button-prev {
  left: -4%
}
.swiper-button-prev::before {
  color: #603809;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.swiper-button-next {
  right: -4%
}
.swiper-button-next::before {
  color: #603809
}
.subscribe {
  padding-block: 5rem;
  position: relative;
  background: url(../img/chance/bg.webp) center/cover no-repeat
}
.subscribe::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #603809;
  opacity: .8
}
.subscribe__container {
  position: relative;
  z-index: 3;
  text-align: center
}
.subscribe__title {
  font-weight: 700;
  margin-bottom: 1rem
}
.subscribe__text {
  font-size: 1.25rem;
  line-height: 1.7;
  margin-bottom: 1.625rem
}
.subscribe__form {
  display: flex;
  justify-self: center;
  width: 57.522124%;
  height: 4.125rem;
  border-radius: .25rem
}
.form-button {
  border-radius: 0 .25rem .25rem 0;
  padding: 1.1875rem 1.5625rem;
  background-color: #f9c06a;
  box-shadow: 0 .375rem .75rem 0 rgba(249,192,106,.22);
  color: #603809;
  font-weight: 700;
  transition: all .3s
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:73.75em) {
  .footer__container {
    -webkit-column-gap: 4.125rem;
    -moz-column-gap: 4.125rem;
    column-gap: 4.125rem
  }
}
@media (min-width:75.625em) {
  .input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
    font-size: 1.25rem
  }
  .input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
    font-size: 1.25rem
  }
  .input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
    font-size: 1.25rem
  }
  .input[placeholder]:not([data-placeholder-nohiden])::placeholder {
    font-size: 1.25rem
  }
  .title {
    font-size: 3.375rem
  }
  .title--big {
    font-size: 13.75rem
  }
  .text {
    font-size: 1.25rem
  }
  .actions-header {
    -webkit-column-gap: 2.1875rem;
    -moz-column-gap: 2.1875rem;
    column-gap: 2.1875rem
  }
  .footer {
    padding-top: 10.125rem
  }
  .coffe {
    padding-top: 12.1875rem
  }
  .coffe {
    padding-bottom: 5.9375rem
  }
  .discover {
    padding-top: 9.375rem
  }
  .discover {
    padding-bottom: 9.375rem
  }
  .discover__container {
    -webkit-column-gap: 6.875rem;
    -moz-column-gap: 6.875rem;
    column-gap: 6.875rem
  }
  .enjoy {
    padding-bottom: 5.3125rem
  }
  .different {
    padding-bottom: 5.3125rem
  }
  .body-chance__title {
    font-size: 3.375rem
  }
  .perfection {
    padding-top: 5.3125rem
  }
  .perfection {
    padding-bottom: 11.25rem
  }
  .perfection {
    padding-inline: 1.875rem
  }
  .perfection__slide {
    padding-inline: 6.25rem
  }
  .swiper-slide__text {
    font-size: 1.125rem
  }
  .swiper-slide__subtitle {
    margin-bottom: 2.8125rem
  }
  .subscribe__title {
    font-size: 3.375rem
  }
  .form-button {
    font-size: 1.375rem
  }
}
@media (min-width:81.25em) {
  .different__deco {
    display: block;
    position: absolute;
    right: 0;
    top: -19%;
    width: 29.875rem;
    height: 16.3125rem
  }
  .different__deco img {
    width: 100%;
    aspect-ratio: 478/261;
    -o-object-fit: cover;
    object-fit: cover
  }
}
@media (min-width:50em) {
  .discover__deco {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 44.070796%;
    height: 41.975309%;
    opacity: 0;
    -webkit-transform: translate(-25%,0);
    transform: translate(-25%,0)
  }
  .discover__deco img {
    aspect-ratio: 489/272
  }
  .discover__deco._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    transition: scale 1s 1s,opacity 2s 1.5s,-webkit-transform 2s 1.5s;
    transition: scale 1s 1s,transform 2s 1.5s,opacity 2s 1.5s;
    transition: scale 1s 1s,transform 2s 1.5s,opacity 2s 1.5s,-webkit-transform 2s 1.5s
  }
}
@media (max-width:50em) {
  .discover__container {
    flex-direction: column
  }
  .discover__body {
    text-align: center
  }
  .discover__image {
    width: 100%
  }
}
@media (max-width:20em) {
  .input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
    font-size: 1rem
  }
  .input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
    font-size: 1rem
  }
  .input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
    font-size: 1rem
  }
  .input[placeholder]:not([data-placeholder-nohiden])::placeholder {
    font-size: 1rem
  }
  .title {
    font-size: 2.625rem
  }
  .title--big {
    font-size: 8.75rem
  }
  .text {
    font-size: 1rem
  }
  .actions-header {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .footer {
    padding-top: 2.5rem
  }
  .coffe {
    padding-top: 5rem
  }
  .coffe {
    padding-bottom: 2.5rem
  }
  .discover {
    padding-top: 5rem
  }
  .discover {
    padding-bottom: 5rem
  }
  .discover__container {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .enjoy {
    padding-bottom: 2.5rem
  }
  .different {
    padding-bottom: 2.5rem
  }
  .body-chance__title {
    font-size: 2rem
  }
  .perfection {
    padding-top: 2.5rem
  }
  .perfection {
    padding-bottom: 2.5rem
  }
  .perfection {
    padding-inline: .625rem
  }
  .perfection__slide {
    padding-inline: .9375rem
  }
  .swiper-slide__text {
    font-size: .875rem
  }
  .swiper-slide__subtitle {
    margin-bottom: 1.25rem
  }
  .subscribe__title {
    font-size: 2rem
  }
  .form-button {
    font-size: 1rem
  }
}
@media (max-width:61.25em) {
  .perfection::before {
    display: none
  }
}
@media (max-width:53.125em) {
  .footer__container {
    flex-direction: column
  }
  .footer__body {
    text-align: center
  }
  .body-footer__social {
    justify-content: center
  }
}
@media (max-width:48.75em) {
  .chance__container {
    flex-direction: column
  }
  .chance__body {
    text-align: center
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 5.625rem .9375rem .9375rem 1.875rem;
    transition: left .3s;
    background-color: #707070
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    row-gap: 1.5625rem
  }
  .menu__link {
    font-size: 1.5rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .button--header {
    padding: .625rem .875rem
  }
  .header__logo {
    font-size: 2.5rem
  }
  .actions-header {
    font-size: 1.125rem
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 85%;
    padding: 1.75rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:43.75em) {
  .subscribe__form {
    width: 100%;
    height: 3.4375rem
  }
}
@media (max-width:40.625em) {
  .perfection::after,
  .perfection::before {
    width: 20rem
  }
}
@media (max-width:33.75em) {
  .spollers {
    flex-direction: column;
    align-items: center
  }
  .spollers__link {
    font-size: 1.25rem
  }
  .spollers__item {
    flex-basis: 0;
    width: 100%;
    text-align: center
  }
}
@media (max-width:29.99875em) {
  .block-coffe {
    text-align: center
  }
}
@media (max-width:29.375em) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 97%;
    padding: .5rem 2.8125rem
  }
  .swiper-button-prev {
    left: 5%
  }
  .swiper-button-next {
    right: 5%
  }
}
@media (max-width:28.125em) {
  .perfection::after,
  .perfection::before {
    width: 12.5rem
  }
}
@media (max-width:28.75em) {
  .perfection::after {
    top: 14%
  }
}
@media (max-width:23.125em) {
  .form-button {
    padding: 1.1875rem 1.25rem
  }
}
@media (min-width:20em)and (max-width:75.625em) {
  .input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
    font-size: clamp(1rem ,.9101123596rem + .4494382022vw ,1.25rem)
  }
  .input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
    font-size: clamp(1rem ,.9101123596rem + .4494382022vw ,1.25rem)
  }
  .input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
    font-size: clamp(1rem ,.9101123596rem + .4494382022vw ,1.25rem)
  }
  .input[placeholder]:not([data-placeholder-nohiden])::placeholder {
    font-size: clamp(1rem ,.9101123596rem + .4494382022vw ,1.25rem)
  }
  .title {
    font-size: clamp(2.625rem ,2.3553370787rem + 1.3483146067vw ,3.375rem)
  }
  .title--big {
    font-size: clamp(8.75rem ,6.952247191rem + 8.9887640449vw ,13.75rem)
  }
  .text {
    font-size: clamp(1rem ,.9101123596rem + .4494382022vw ,1.25rem)
  }
  .actions-header {
    -webkit-column-gap: clamp(.625rem ,.0632022472rem + 2.808988764vw ,2.1875rem);
    -moz-column-gap: clamp(.625rem ,.0632022472rem + 2.808988764vw ,2.1875rem);
    column-gap: clamp(.625rem ,.0632022472rem + 2.808988764vw ,2.1875rem)
  }
  .footer {
    padding-top: clamp(2.5rem ,-.2415730337rem + 13.7078651685vw ,10.125rem)
  }
  .coffe {
    padding-top: clamp(5rem ,2.4157303371rem + 12.9213483146vw ,12.1875rem)
  }
  .coffe {
    padding-bottom: clamp(2.5rem ,1.2640449438rem + 6.1797752809vw ,5.9375rem)
  }
  .discover {
    padding-top: clamp(5rem ,3.4269662921rem + 7.8651685393vw ,9.375rem)
  }
  .discover {
    padding-bottom: clamp(5rem ,3.4269662921rem + 7.8651685393vw ,9.375rem)
  }
  .discover__container {
    -webkit-column-gap: clamp(1.25rem ,-.7724719101rem + 10.1123595506vw ,6.875rem);
    -moz-column-gap: clamp(1.25rem ,-.7724719101rem + 10.1123595506vw ,6.875rem);
    column-gap: clamp(1.25rem ,-.7724719101rem + 10.1123595506vw ,6.875rem)
  }
  .enjoy {
    padding-bottom: clamp(2.5rem ,1.4887640449rem + 5.0561797753vw ,5.3125rem)
  }
  .different {
    padding-bottom: clamp(2.5rem ,1.4887640449rem + 5.0561797753vw ,5.3125rem)
  }
  .body-chance__title {
    font-size: clamp(2rem ,1.5056179775rem + 2.4719101124vw ,3.375rem)
  }
  .perfection {
    padding-top: clamp(2.5rem ,1.4887640449rem + 5.0561797753vw ,5.3125rem)
  }
  .perfection {
    padding-bottom: clamp(2.5rem ,-.6460674157rem + 15.7303370787vw ,11.25rem)
  }
  .perfection {
    padding-inline: clamp(.625rem ,.1755617978rem + 2.2471910112vw ,1.875rem)
  }
  .perfection__slide {
    padding-inline: clamp(.9375rem ,-.9726123596rem + 9.5505617978vw ,6.25rem)
  }
  .swiper-slide__text {
    font-size: clamp(.875rem ,.7851123596rem + .4494382022vw ,1.125rem)
  }
  .swiper-slide__subtitle {
    margin-bottom: clamp(1.25rem ,.6882022472rem + 2.808988764vw ,2.8125rem)
  }
  .subscribe__title {
    font-size: clamp(2rem ,1.5056179775rem + 2.4719101124vw ,3.375rem)
  }
  .form-button {
    font-size: clamp(1rem ,.8651685393rem + .6741573034vw ,1.375rem)
  }
}
@media (min-width:49.375em)and (max-width:73.75em) {
  .footer__container {
    -webkit-column-gap: clamp(.625rem ,-6.4647435897rem + 14.358974359vw ,4.125rem);
    -moz-column-gap: clamp(.625rem ,-6.4647435897rem + 14.358974359vw ,4.125rem);
    column-gap: clamp(.625rem ,-6.4647435897rem + 14.358974359vw ,4.125rem)
  }
}
@media (min-width:50em)and (max-width:50em) {
  .discover__deco {
    display: none
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    text-decoration: underline
  }
  .spollers__link:hover {
    text-decoration: underline
  }
  .button:hover {
    color: #fff
  }
  .button:hover::before {
    width: 100%
  }
  .actions-header__sign-in:hover {
    text-decoration: underline;
    color: #f9c06a
  }
  .social-footer__link:hover {
    color: #707070;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .item-enjoy__image:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .item-enjoy:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .different__item:hover {
    background-color: #ffeed8
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #707070
  }
  .swiper-button-next:hover::before,
  .swiper-button-prev:hover::before {
    color: #fff9f1
  }
  .form-button:hover {
    background-color: #e99b26
  }
}