@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-s-facebook:before {
  content: "";
  color: #fff
}
._icon-s-twitter:before {
  content: "";
  color: #fff
}
._icon-s-youtube:before {
  content: "";
  color: #fff
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Inter;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  opacity: 0
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  transition: opacity .3s;
  opacity: 1
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,71.25rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: .3125rem
}
.menu__link {
  font-weight: 500
}
.menu-open .menu__link {
  color: #121212
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  gap: .9375rem
}
.spollers__title {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  width: 100%;
  cursor: default;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #fff;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.block-header {
  color: #292929
}
.block-header__subtitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33
}
.block-header__title {
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 1.33
}
.block-header__title span {
  color: #ff7500
}
.block-header__text {
  font-weight: 500;
  line-height: 1.75;
  opacity: .4;
  max-width: 29.6875rem;
  margin: 0 auto
}
.header {
  background-color: #121212;
  z-index: 50;
  color: #fff
}
.header__container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem
}
.header__mobile {
  display: flex;
  align-items: center;
  gap: .625rem
}
.logo-header {
  position: relative;
  z-index: 2;
  width: 6.3125rem;
  flex-basis: 6.3125rem;
  transition: color .3s
}
.menu-open .logo-header {
  color: #121212
}
.logo-header__text {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.12;
  font-family: Ubuntu
}
.logo-header__icon {
  position: absolute;
  top: .3125rem;
  left: 2.8125rem
}
.menu-open .logo-header__icon path {
  fill: #121212
}
.button-header {
  position: relative;
  flex-shrink: 0;
  font-weight: 600;
  padding: .875rem 2.9375rem;
  border: 2px solid #fff;
  transition: all .3s
}
.menu-open .button-header {
  color: #121212;
  border: 2px solid #121212
}
.button-header span {
  position: relative;
  z-index: 2
}
.button-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: all .3s
}
.footer {
  padding-top: 3.125rem;
  color: #fff;
  background-color: #121212
}
.top-footer__container {
  padding-bottom: 1.25rem;
  border-bottom: .0625rem solid rgba(255,255,255,.1)
}
.top-footer__body {
  display: flex;
  justify-content: space-between;
  gap: .9375rem
}
.top-footer__subscribe {
  text-align: center
}
.spollers__element:not(:last-child) {
  margin-bottom: 1.25rem
}
.spollers__link {
  line-height: 1.6
}
.subscribe__title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase
}
.subscribe__text {
  line-height: 1.6;
  font-weight: 500;
  opacity: .3;
  margin-bottom: 1.75rem
}
.subscribe__form {
  display: flex;
  align-items: center;
  height: 3.375rem;
  border-radius: .375rem;
  position: relative
}
.subscribe__form .form__error {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: .6875rem;
  color: red;
  margin-top: .1875rem
}
.subscribe__input {
  border: .0625rem solid #fff;
  width: 100%;
  border-radius: .25rem 0 0 .25rem;
  background: rgba(166,166,166,.05);
  padding: 0 1.25rem;
  height: 100%;
  flex: 1 1 auto
}
.subscribe__button {
  border-radius: 0 .375rem .375rem 0;
  padding: 1.25rem 1.5rem;
  background-color: #ff6b00;
  transition: all .3s;
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.3
}
.subscribe .input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.subscribe .input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.subscribe .input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.subscribe .input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.subscribe .input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.subscribe .input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.subscribe .input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.subscribe .input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
.subscribe textarea.input {
  resize: none;
  padding: 0 0
}
.bottom-footer {
  padding-block: 1.5625rem
}
.bottom-footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center
}
.bottom-footer__text {
  width: 25rem;
  grid-column: 2/3;
  text-align: center
}
.bottom-footer__social {
  grid-column: 3/4;
  justify-self: end;
  text-align: right
}
.menu-social {
  display: flex;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  flex-shrink: 0;
  justify-self: flex-end
}
.menu-social__link {
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s
}
.hero {
  padding-bottom: 3.125rem
}
.hero__image {
  aspect-ratio: 1440/565;
  width: 100%;
  margin-bottom: 4.375rem
}
.navigation-hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-column-gap: 1.9375rem;
  -moz-column-gap: 1.9375rem;
  column-gap: 1.9375rem;
  row-gap: 2.5rem
}
.navigation-hero__item {
  display: flex;
  align-items: center;
  gap: 2.0625rem
}
.navigation-hero__icon {
  position: relative;
  width: 2.9375rem
}
.navigation-hero__icon img {
  position: relative;
  z-index: 2
}
.navigation-hero__icon::before {
  content: "";
  position: absolute;
  width: 4.6875rem;
  height: 4.6875rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #ff7500;
  opacity: .04;
  border-radius: 50%
}
.navigation-hero__text {
  color: #565656;
  line-height: 1.31;
  font-weight: 500;
  max-width: 5.625rem;
  text-align: left
}
.top-hero {
  color: #fff;
  background-color: #121212;
  padding-top: 3.125rem;
  padding-bottom: 6.3125rem
}
.top-hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  row-gap: 1.25rem
}
.top-hero__title {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
  max-width: 43.125rem
}
.top-hero__items {
  flex-shrink: 0
}
.top-hero__item {
  position: relative;
  padding-bottom: .5rem;
  -webkit-transform: translate(100%,0);
  transform: translate(100%,0);
  opacity: 0
}
.top-hero__item:not(:last-child) {
  margin-bottom: 1rem
}
.top-hero__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: .125rem;
  bottom: 0;
  left: 0;
  background-color: #fff
}
.top-hero__item:nth-child(1)._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: scale .3s,opacity .5s 1s,-webkit-transform .5s 1s;
  transition: scale .3s,transform .5s 1s,opacity .5s 1s;
  transition: scale .3s,transform .5s 1s,opacity .5s 1s,-webkit-transform .5s 1s
}
.top-hero__item:nth-child(2)._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: scale .3s,opacity 1s 1s,-webkit-transform 1s 1s;
  transition: scale .3s,transform 1s 1s,opacity 1s 1s;
  transition: scale .3s,transform 1s 1s,opacity 1s 1s,-webkit-transform 1s 1s
}
.top-hero__item:nth-child(3)._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: scale .3s,opacity 2s 1s,-webkit-transform 2s 1s;
  transition: scale .3s,transform 2s 1s,opacity 2s 1s;
  transition: scale .3s,transform 2s 1s,opacity 2s 1s,-webkit-transform 2s 1s
}
.top-hero__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.33;
  padding-right: 4.125rem
}
.top-hero__link::before {
  content: "";
  position: absolute;
  width: 1.0625rem;
  height: 1.0625rem;
  top: 0;
  right: 0;
  background: url(../img/icons/arrow.svg) center no-repeat
}
.here {
  padding-bottom: 1.5625rem;
  padding-block: 3.125rem
}
.here__header-block {
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%);
  opacity: 0;
  text-align: center;
  margin-bottom: 6.25rem
}
.here__header-block._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 1s,-webkit-transform 1s;
  transition: transform 1s,opacity 1s;
  transition: transform 1s,opacity 1s,-webkit-transform 1s
}
.here__wrapper {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,71.25rem) 1fr .9375rem
}
.here__wrapper>* {
  min-width: 0;
  grid-column: 3/6
}
.here__body {
  flex-basis: 29.6875rem;
  flex-shrink: 0
}
.here__items>*:not(:last-child) {
  margin-bottom: 3.75rem
}
.here__item {
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  opacity: 0
}
.here__item:nth-child(1)._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 1s 1.5s,-webkit-transform 1s 1.5s;
  transition: transform 1s 1.5s,opacity 1s 1.5s;
  transition: transform 1s 1.5s,opacity 1s 1.5s,-webkit-transform 1s 1.5s
}
.here__item:nth-child(2)._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 1.5s 1.5s,-webkit-transform 1.5s 1.5s;
  transition: transform 1.5s 1.5s,opacity 1.5s 1.5s;
  transition: transform 1.5s 1.5s,opacity 1.5s 1.5s,-webkit-transform 1.5s 1.5s
}
.here__item:nth-child(3)._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 2s 1.5s,-webkit-transform 2s 1.5s;
  transition: transform 2s 1.5s,opacity 2s 1.5s;
  transition: transform 2s 1.5s,opacity 2s 1.5s,-webkit-transform 2s 1.5s
}
.here__pictures {
  position: relative;
  flex-grow: 1
}
.item-here__number {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  width: 3.125rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1.33;
  padding-block: .5rem;
  background-color: #ff7500;
  margin-bottom: .9375rem
}
.item-here__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: .875rem
}
.item-here__text {
  font-weight: 500;
  line-height: 1.75;
  opacity: .4
}
.pictures-here {
  display: flex;
  justify-content: center
}
.pictures-here__content {
  display: grid;
  position: relative;
  align-items: center;
  row-gap: 1.25rem;
  z-index: 2;
  flex-basis: 37.5rem
}
.pictures-here__main-image {
  align-self: center;
  scale: 0
}
.pictures-here__main-image._watcher-view {
  scale: 1;
  transition: scale 2s 3s,opacity 1s .5s
}
.pictures-here__backgraund-img {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.deco {
  -webkit-transform: translate(50%,0);
  transform: translate(50%,0);
  opacity: 0;
  display: inline-flex;
  gap: .75rem;
  align-items: center;
  width: 13.25rem;
  height: 3.8125rem;
  padding: .625rem .875rem;
  border-radius: .375rem;
  background-color: #fff;
  box-shadow: .0625rem .4375rem 1.375rem 0 rgba(0,0,0,.1)
}
.deco__icon {
  width: 2.5625rem;
  height: 2.5625rem;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover
}
.deco__title {
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.33
}
.deco__subtitle {
  font-size: .75rem;
  line-height: 1.33;
  color: rgba(41,41,41,.4)
}
.deco__subtitle span {
  color: #ff7500
}
.deco--left {
  margin-bottom: .8125rem
}
.deco--left._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 1s .5s,-webkit-transform 1s .5s;
  transition: transform 1s .5s,opacity 1s .5s;
  transition: transform 1s .5s,opacity 1s .5s,-webkit-transform 1s .5s
}
.deco--top {
  justify-self: flex-end
}
.deco--top._watcher-view {
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  opacity: 1;
  transition: opacity 2s 1.5s,-webkit-transform 2s 1.5s;
  transition: transform 2s 1.5s,opacity 2s 1.5s;
  transition: transform 2s 1.5s,opacity 2s 1.5s,-webkit-transform 2s 1.5s
}
.deco--bottom {
  justify-self: flex-end
}
.deco--bottom._watcher-view {
  -webkit-transform: translate(0,50%);
  transform: translate(0,50%);
  opacity: 1;
  transition: opacity 1s 1.5s,-webkit-transform 1s 1.5s;
  transition: transform 1s 1.5s,opacity 1s 1.5s;
  transition: transform 1s 1.5s,opacity 1s 1.5s,-webkit-transform 1s 1.5s
}
.choice {
  padding-top: 3.125rem;
  padding-bottom: 6.25rem
}
.choice__header-block {
  text-align: center;
  margin-bottom: 2.8125rem;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%);
  opacity: 0
}
.choice__header-block._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 1s,-webkit-transform 1s;
  transition: transform 1s,opacity 1s;
  transition: transform 1s,opacity 1s,-webkit-transform 1s
}
.choice__items {
  display: grid;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  -webkit-transform: translate(0,5%);
  transform: translate(0,5%);
  opacity: 0
}
.choice__items._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 1s .3s,-webkit-transform 1s .3s;
  transition: transform 1s .3s,opacity 1s .3s;
  transition: transform 1s .3s,opacity 1s .3s,-webkit-transform 1s .3s
}
.choice__item {
  transition: scale .3s
}
.choice__item:nth-child(2) {
  grid-row: span 2
}
.item-choice {
  display: flex;
  flex-direction: column
}
.item-choice__link {
  margin-bottom: 1.125rem;
  overflow: hidden;
  flex-grow: 1
}
.item-choice__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 320/220;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .3s
}
.item-choice__subtitle {
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.33;
  opacity: .6
}
.item-choice__link-title {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.33
}
.about {
  background: #121212;
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,71.25rem) 1fr .9375rem
}
.about>* {
  min-width: 0;
  grid-column: 3/6
}
.about__body {
  padding-inline: .9375rem;
  flex-basis: 26.875rem;
  align-self: center;
  flex-shrink: 0
}
.about__image {
  flex-basis: 37rem
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.about__title {
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  opacity: 0;
  display: inline-block;
  position: relative;
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 1.33;
  color: #fff;
  padding-bottom: 1rem
}
.about__title._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 1s 1s,-webkit-transform 1s 1s;
  transition: transform 1s 1s,opacity 1s 1s;
  transition: transform 1s 1s,opacity 1s 1s,-webkit-transform 1s 1s
}
.about__title::before {
  content: "";
  position: absolute;
  width: 70%;
  height: .25rem;
  bottom: 0;
  left: 0;
  background-color: #ff7500;
  border-radius: .21875rem
}
.about__text {
  margin-top: 2.125rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.62;
  color: #fff;
  margin-bottom: 2.25rem;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  opacity: 0
}
.about__text p:not(:last-child) {
  margin-bottom: 1rem
}
.about__text._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: .3;
  transition: opacity 1s 1.2s,-webkit-transform 1s 1.2s;
  transition: transform 1s 1.2s,opacity 1s 1.2s;
  transition: transform 1s 1.2s,opacity 1s 1.2s,-webkit-transform 1s 1.2s
}
.button-about {
  padding: .875rem 2.875rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.62;
  border-radius: 27px;
  background-color: #ff7500;
  transition: all .3s;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  opacity: 0
}
.button-about._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 1s 1.6s,-webkit-transform 1s 1.6s;
  transition: transform 1s 1.6s,opacity 1s 1.6s;
  transition: transform 1s 1.6s,opacity 1s 1.6s,-webkit-transform 1s 1.6s
}
.interior {
  padding-top: 3.125rem;
  padding-bottom: 6.25rem
}
.interior__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.25rem
}
.interior__reviews {
  flex-basis: 21.875rem;
  align-self: flex-end;
  flex-shrink: 0
}
.interior__items {
  display: grid;
  grid-template-columns: repeat(2,21.875rem);
  gap: 2.5rem
}
.interior__item {
  -webkit-transform: translate(0,50%);
  transform: translate(0,50%);
  opacity: 0;
  background-color: #fff;
  box-shadow: -.875rem 1.5rem 4.25rem -1rem rgba(0,0,0,.12);
  padding: 1.625rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: .9375rem
}
.interior__item._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 1s .3s,-webkit-transform 1s .3s;
  transition: transform 1s .3s,opacity 1s .3s;
  transition: transform 1s .3s,opacity 1s .3s,-webkit-transform 1s .3s
}
.interior__icon {
  width: 3.5rem;
  height: 3.5rem
}
.interior__title {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.2
}
.interior__text {
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.6;
  opacity: .3
}
.reviews-interior__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 1.75rem
}
.reviews-interior__subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  opacity: .6
}
.reviews-interior__links {
  margin-bottom: 1.25rem
}
.reviews-interior__link {
  position: relative;
  width: 3.5625rem;
  height: 3.5625rem;
  margin-right: -1.125rem;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.reviews-interior__text {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  opacity: .6
}
.rating {
  display: flex;
  gap: .5rem;
  flex-shrink: 0
}
.rating__item {
  width: 1.125rem;
  height: 1.125rem;
  background: url(../img/interior/Star.svg) 0 0 no-repeat
}
@media (min-width:38.75em) {
  .top-footer__subscribe {
    flex-basis: 21.875rem
  }
  .menu-footer__spollers {
    padding-top: 1.5625rem
  }
}
@media (min-width:38.75rem) {
  .top-footer__useful-menu {
    text-align: right
  }
}
@media (min-width:47.99875em) {
  .title-spoller--right {
    text-align: right
  }
  .title-spoller--left {
    text-align: left
  }
  .here__content {
    display: flex;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .pictures-here__main-image {
    justify-self: start;
    width: 86.078431%;
    height: 13.6875rem;
    margin-bottom: 10.625rem
  }
  .deco--left {
    justify-self: center
  }
  .about__content {
    display: flex;
    justify-content: space-between;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
}
@media (min-width:69.9375em) {
  .interior__items {
    -webkit-transform: translate(.625rem,-18%);
    transform: translate(.625rem,-18%)
  }
  .reviews-interior {
    padding-top: 12.5rem
  }
}
@media (min-width:73.125em) {
  .header {
    padding-top: 3.625rem
  }
  .header {
    padding-bottom: 3.125rem
  }
  .top-hero {
    padding-top: 3.125rem
  }
  .top-hero {
    padding-bottom: 6.3125rem
  }
  .top-hero__title {
    font-size: 3.125rem
  }
  .reviews-interior__top {
    margin-bottom: 5rem
  }
}
@media (max-width:70em) {
  .interior__container {
    flex-direction: column;
    align-items: center
  }
  .interior__reviews {
    align-self: center;
    text-align: center;
    flex-basis: auto
  }
  .rating {
    justify-content: center
  }
}
@media (max-width:20em) {
  .header {
    padding-top: 1.875rem
  }
  .header {
    padding-bottom: 1.875rem
  }
  .top-hero {
    padding-top: 1.875rem
  }
  .top-hero {
    padding-bottom: 1.875rem
  }
  .top-hero__title {
    font-size: 1.5625rem
  }
  .reviews-interior__top {
    margin-bottom: 2.5rem
  }
}
@media (max-width:48.4375em) {
  .button-header {
    padding: .875rem 2.5rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 8.75rem .9375rem .9375rem 1.875rem;
    transition: left .5s;
    background-color: #fff
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    row-gap: 1.5625rem
  }
  .menu__link {
    font-size: 1.5rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::after,
  .menu-open .icon-menu::before {
    background-color: #121212
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .top-hero__container {
    flex-direction: column
  }
  .top-hero__title {
    text-align: center
  }
  .here__header-block {
    margin-bottom: 2.5rem
  }
  .here__body {
    margin-bottom: 3.75rem
  }
  .here__items {
    text-align: center
  }
  .pictures-here__backgraund-img {
    width: 100%
  }
  .about {
    padding-top: 3.125rem
  }
  .about {
    display: grid;
    min-width: 0;
    grid-template-columns: .9375rem 1fr minmax(auto,71.25rem) 1fr .9375rem
  }
  .about>* {
    min-width: 0;
    grid-column: 1/6
  }
  .about__body {
    text-align: center;
    margin-bottom: 3.125rem
  }
  .about__title::before {
    width: 100%
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.8125em) {
  .interior__items {
    grid-template-columns: 1fr
  }
}
@media (max-width:38.75rem) {
  .spollers__title {
    font-size: 1.75rem;
    border: 1px solid #eee;
    padding: .625rem .9375rem;
    border-radius: .3125rem
  }
  .spollers__body {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.25rem;
    border-radius: .3125rem;
    border: 1px solid #eee
  }
  .top-footer__body {
    flex-direction: column
  }
  .top-footer__menu {
    order: 2
  }
  .top-footer__subscribe {
    order: 1;
    margin-bottom: 1.5625rem
  }
  .top-footer__useful-menu {
    order: 3
  }
}
@media (max-width:38.75em) {
  .bottom-footer__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 1.5625rem
  }
  .menu-social__link {
    font-size: 1.5rem
  }
}
@media (max-width:25.625em) {
  .button-header {
    padding: .875rem 1.875rem
  }
}
@media (min-width:20em)and (max-width:73.125em) {
  .header {
    padding-top: clamp(1.875rem ,1.2161764706rem + 3.2941176471vw ,3.625rem)
  }
  .header {
    padding-bottom: clamp(1.875rem ,1.4044117647rem + 2.3529411765vw ,3.125rem)
  }
  .top-hero {
    padding-top: clamp(1.875rem ,1.4044117647rem + 2.3529411765vw ,3.125rem)
  }
  .top-hero {
    padding-bottom: clamp(1.875rem ,.2044117647rem + 8.3529411765vw ,6.3125rem)
  }
  .top-hero__title {
    font-size: clamp(1.5625rem ,.9742647059rem + 2.9411764706vw ,3.125rem)
  }
  .reviews-interior__top {
    margin-bottom: clamp(2.5rem ,1.5588235294rem + 4.7058823529vw ,5rem)
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    text-decoration: underline
  }
  .button-header:hover {
    color: #121212
  }
  .button-header:hover::before {
    height: 100%
  }
  .spollers__link:hover {
    text-decoration: underline
  }
  .subscribe__button:hover {
    background-color: #853700
  }
  .menu-social__link:hover {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
  .top-hero__item:hover {
    scale: 1.1
  }
  .top-hero__link:hover::before {
    -webkit-transform: translate(.3125rem,0);
    transform: translate(.3125rem,0)
  }
  .choice__item:hover {
    scale: 1.02
  }
  .item-choice__image:hover {
    scale: 1.05
  }
  .item-choice__link-title:hover {
    text-decoration: underline
  }
  .button-about:hover {
    background-color: #853700
  }
  .reviews-interior__link:hover {
    -webkit-transform: translateY(-.625rem);
    transform: translateY(-.625rem)
  }
}